.tag
  display: flex
  align-items: center
  justify-content: center
  font-family: 'Montserrat'
  font-size: 14px
  font-weight: 700
  color: #FFF
  background-color: #FF6060
  text-align: center
  border-radius: 10px
  padding: 10px 20px
  margin-right: 10px

  @media screen and (max-width: 375px)
    font-size: 10px
    height: 18px
    min-width: 84px
    padding: 5px
    line-height: 142.6%


