@import '../../assets/styles/variables.sass'

.rating
  display: flex
  margin-top: 25px

  @media screen and (max-width: 375px)
    margin: 20px 0px

.star-icon
  margin-right: 10px
  font-size: 20px

  @media screen and (max-width: 375px)
    margin-right: 6px
    font-size: 14px

.full-star
  color: $primary-red

.empty-star
  color: #ddd