.profile
  display: flex
  align-items: center
  // margin-top: 1rem

.profile__picture
  border-radius: 50%
  width: 65px
  height: 65px
  object-fit: cover
  margin-left: 10px

.profile__name
  font-family: 'Montserrat'
  font-size: 18px
  font-style: normal
  font-weight: 500
  color: #ff6060
  text-align: right