@import '../../assets/styles/variables.sass'

.profile
  display: flex
  align-items: center

.profile__picture
  border-radius: 50%
  width: 65px
  height: 65px
  object-fit: cover
  margin-left: 10px

  @media screen and (max-width: 375px)
    width: 32px
    height: 32px

.profile__name
  @include main-font-medium
  font-size: 18px
  color: $primary-red
  text-align: right
  white-space: nowrap

  @media screen and (max-width: 375px)
    font-size: 12px