.error
  display: flex
  flex-direction: column
  align-items: center

  &__title
    font-family: 'Montserrat'
    font-size: 288px
    font-weight: 700
    color: #ff6060
    margin: 100px 0 100px 0

    @media screen and (max-width: 375px)
      font-size: 96px

  &__p
    font-family: 'Montserrat'
    font-size: 36px
    color: #ff6060
    margin: 0px 0px 100px 0px

    @media screen and (max-width: 375px)
      font-size: 18px
      text-align: center


