// Collapse.sass
.collapse
  width: 1000px
  display: flex
  flex-direction: column
  justify-content: center
  margin: 0 auto

.collapse__item
  border-radius: 5px
  margin-bottom: 30px

  @media screen and (max-width: 375px)
    width: 335px
    
.collapse__title
  display: flex
  justify-content: space-between
  align-items: center
  font-family: 'Montserrat'
  font-size: 24px
  font-weight: 700
  margin: 0px
  padding: 10px 20px 10px 15px
  color: #fff
  background-color: #FF6060
  border-radius: 5px

  @media screen and (max-width: 375px)
    font-size: 13px

.collapse__icon
  margin-left: 10px
  cursor: pointer

.collapse__description
  max-height: 0
  font-family: 'Montserrat'
  font-size: 18px
  overflow: hidden
  transition: max-height 0.3s ease-out, padding 0.3s ease-out
  background-color: #fbfbfb
  border-radius: 5px
  padding: 0 10px

  &.open
    max-height: 150px
    padding: 20px

.collapse__description p
  overflow-wrap: break-word
  margin: 0
  padding: 0px

.collapse__description ul
  margin: 0px
  padding: 0px

.collapse__description li
  list-style-type: none