.header
  display: flex
  justify-content: space-around
  padding-top: 45px
  padding-bottom: 50px

  .nav
    .nav__list
      display: flex
      flex-direction: row
      justify-content: space-around
      list-style-type: none

      .nav__item
        padding-left: 57px

        .nav__link
          text-decoration: none
          font-family: "Montserrat", sans-serif
          font-size: 24px
          font-weight: 500
          color: black

          &:hover
            text-decoration: underline
