@import '../../assets/styles/variables.sass'

.header
  display: flex
  justify-content: space-around
  padding-top: 45px

  @media screen and (max-width: 375px)
    padding-top: 20px

  &__img
    @media screen and (max-width: 375px)
      width: 135px

.nav
  .nav__list
    display: flex
    flex-direction: row
    justify-content: space-around
    list-style-type: none

    @media screen and (max-width: 375px)
      padding: 0

    .nav__item
      padding-left: 57px

      @media screen and (max-width: 375px)
        padding-left: 26px
        text-align: right

      .nav__link
        text-decoration: none
        @include main-font-medium
        font-size: 24px
        color: $black

        @media screen and (max-width: 375px)
          font-size: 12px
          text-transform: uppercase

        &:hover
          border-bottom: 2px solid $black
